.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
	
	
	 background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card {
    background: #2d2d2d;
    padding: 30px 20px;
    color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.btn {
    margin-top: 15px;
    background: #f57c31;
    padding: 10px 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}


.container1 {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 25px;
	
	
	 background: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card {
    background: #A9A9A9;
    padding: 30px 20px;
    color: #000000;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.btn {
    margin-top: 15px;
    background: #FF6347;
    padding: 10px 18px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

